/* personal-data section */

body {
    background-color: #a9d7d1;
    font-family: Raleway, sans-serif;
    
}

h1{
    text-align: center;
}

p{
    text-align: center;
    margin-bottom: 0px;
}

form {
    padding-top: 10px;
    background-color: white;
    margin-left: 18vw;
    margin-right: 18vw;
    
}

#personal-data{
    border: green solid 1px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
        
}

#personal-data .row{
    border: magenta solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4vh;
}

#personal-data .row .message {
    border: blue solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1.5vw;
    width: 25vw;
    
}

#personal-data .row .message label {
    border: pink solid 1px;
}

#personal-data .row .data {
    border: orange solid 1px;
    width: 25vw;
    
}

#personal-data .row .data input{
    width: 18vw;
    height: 3vh;
}

/* ocupation */

#ocupation{
    border: green solid 1px;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ocupation .message{
    border: blue solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1.5vw;
    width: 25vw;
}

#ocupation .message label {
    border: pink solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4vh;
}

#ocupation .data{
    border: orange solid 1px;
    width: 25vw;
}

#ocupation select {
    border: #c0c0c0 solid 1px;
    height: 4vh;
    width: 10vw;
}

/* recomendation */

#recomendation {
    border:green 1px solid;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    height: 10vh;
    
}

#recomendation .message{
    border: blue solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1.5vw;
    width: 25vw;
}

#recomendation .message label{
    border: pink solid 1px;
    text-align: right; 
    height: 5vh;
}

#recomendation .data {
    border: orange solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25vw;
    
}

/* most-like */

#most-like {
    border: green solid 1px;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#most-like .message{
    border: blue solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1.5vw;
    width: 25vw;
}

#most-like .message label{
    border: pink solid 1px;
    height: 5vh;   
}

#most-like .data{
    border: orange solid 1px;
    width: 25vw;
}

#most-like .data select {
    border: #c0c0c0 solid 1px;
    height: 4vh;
    width: 10vw;
} 

/* #most-like label {
    border:  red solid 1px; 
    margin-left: 3.0vw;
    margin-right: 1.6vw;
    padding-left: 8.4vw;
} */

/* #most-like .data select {
    height: 4vh;
    width: 10vw;
    background-color: #c0c0c0;
} */

/* for-improve */
/* 
#for-improve {
    border:green 1px solid;
    height: 40vh;
    display: flex;
    flex-direction: row; 
}

#for-improve .label-for-improve {
    border:red 1px solid; 
    width: 27vw;
    text-align: right;
    padding-right: 1.3vw;
}

#for-improve .options-for-improve {
    border: blue 1px solid;
    display: flex;
    flex-direction: column;     
    justify-content: space-around;   
} */

/* suggestions */

/* 
#suggestions {
    border: green solid 1px;
    display: flex;
    flex-direction: row;
    height: 8vh;
    padding: 2vh;
    justify-content: center;
}

#suggestions label{
    border: red solid 1px;
    
}

#suggestions textarea{
    border: blue solid 1px;
    width: 20vw;
}

#submit{
    border: green solid 1px;
    text-align: center;
    height: 10vh;
}

#submit input {
    border: red solid 1px;
    border-radius: 4px; 
    height: 5vh;
    margin-top: 2.7vh;
    width: 7vw;;
    background-color: #59ace0;
    color: white;
    font-size: 1rem;
    
}  */
